<div class="max-w-xs">
    <twig:Fieldset:Field>
        <twig:Fieldset:Label>Day of the week</twig:Fieldset:Label>
        <twig:Listbox class="max-w-40" name="day_of_the_week" value="Monday">
            <twig:Listbox:Option value="Monday"><twig:Listbox:Label>Monday</twig:Listbox:Label></twig:Listbox:Option>
            <twig:Listbox:Option value="Tuesday"><twig:Listbox:Label>Tuesday</twig:Listbox:Label></twig:Listbox:Option>
            <twig:Listbox:Option value="Wednesday"><twig:Listbox:Label>Wednesday</twig:Listbox:Label></twig:Listbox:Option>
            <twig:Listbox:Option value="Thursday"><twig:Listbox:Label>Thursday</twig:Listbox:Label></twig:Listbox:Option>
            <twig:Listbox:Option value="Friday"><twig:Listbox:Label>Friday</twig:Listbox:Label></twig:Listbox:Option>
            <twig:Listbox:Option value="Saturday"><twig:Listbox:Label>Saturday</twig:Listbox:Label></twig:Listbox:Option>
            <twig:Listbox:Option value="Sunday"><twig:Listbox:Label>Sunday</twig:Listbox:Label></twig:Listbox:Option>
        </twig:Listbox>
    </twig:Fieldset:Field>
</div>
