<div class="w-full max-w-56">
    <twig:Listbox name="status" defaultValue="active">
        <twig:Listbox:Option value="active">
            <twig:Listbox:Label>Active</twig:Listbox:Label>
        </twig:Listbox:Option>
        <twig:Listbox:Option value="paused">
            <twig:Listbox:Label>Paused</twig:Listbox:Label>
        </twig:Listbox:Option>
        <twig:Listbox:Option value="delayed">
            <twig:Listbox:Label>Delayed</twig:Listbox:Label>
        </twig:Listbox:Option>
        <twig:Listbox:Option value="canceled">
            <twig:Listbox:Label>Canceled</twig:Listbox:Label>
        </twig:Listbox:Option>
    </twig:Listbox>
</div>
