<div class="max-w-xs">
    <twig:Fieldset:Field>
        <twig:Fieldset:Label>Country</twig:Fieldset:Label>
        <twig:Listbox name="country" value="MX">
            <twig:Listbox:Option value="CA">
                <img src="https://flagpack.xyz/_nuxt/ca.BHPAlM-1.svg" alt="" class="w-5 sm:w-4" />
                <twig:Listbox:Label>Canada</twig:Listbox:Label>
            </twig:Listbox:Option>
            <twig:Listbox:Option value="MX">
                <img src="https://flagpack.xyz/_nuxt/mx.B1GxCiMl.svg" alt="" class="w-5 sm:w-4" />
                <twig:Listbox:Label>Mexico</twig:Listbox:Label>
            </twig:Listbox:Option>
            <twig:Listbox:Option value="US">
                <img src="https://flagpack.xyz/_nuxt/us.CLMjMGBT.svg" alt="" class="w-5 sm:w-4" />
                <twig:Listbox:Label>United States</twig:Listbox:Label>
            </twig:Listbox:Option>
        </twig:Listbox>
    </twig:Fieldset:Field>
</div>
