<div class="w-full max-w-56">
    <twig:Fieldset:Field>
        <twig:Fieldset:Label>Alignment</twig:Fieldset:Label>
        <twig:Listbox name="alignment" defaultValue="left">
            <twig:Listbox:Option value="left">
                <twig:ux:icon name="heroicons:bars-3-bottom-left" />
                <twig:Listbox:Label>Left</twig:Listbox:Label>
            </twig:Listbox:Option>
            <twig:Listbox:Option value="right">
                <twig:ux:icon name="heroicons:bars-3-bottom-right" />
                <twig:Listbox:Label>Right</twig:Listbox:Label>
            </twig:Listbox:Option>
            <twig:Listbox:Option value="justified">
                <twig:ux:icon name="heroicons:bars-3" />
                <twig:Listbox:Label>Justified</twig:Listbox:Label>
            </twig:Listbox:Option>
        </twig:Listbox>
    </twig:Fieldset:Field>
</div>
