<div class="max-w-xs">
    <twig:Fieldset:Field>
        <twig:Fieldset:Label>User</twig:Fieldset:Label>
        <twig:Listbox name="user" value="dries">
            <twig:Listbox:Option value="dries">
                <twig:Listbox:Label>Dries Vincent</twig:Listbox:Label>
                <twig:Listbox:Description>@driesvincent</twig:Listbox:Description>
            </twig:Listbox:Option>
            <twig:Listbox:Option value="leslie">
                <twig:Listbox:Label>Leslie Alexander</twig:Listbox:Label>
                <twig:Listbox:Description>@lesliealexander</twig:Listbox:Description>
            </twig:Listbox:Option>
            <twig:Listbox:Option value="michael">
                <twig:Listbox:Label>Michael Foster</twig:Listbox:Label>
                <twig:Listbox:Description>@michaelfoster</twig:Listbox:Description>
            </twig:Listbox:Option>
        </twig:Listbox>
    </twig:Fieldset:Field>
</div>
