<div class="max-w-xs">
    <twig:Listbox name="user" value="erica" placeholder="Assign to&hellip;">
        <twig:Listbox:Option value="erica">
            <twig:Avatar slot="icon" src="https://catalyst-demo.tailwindui.com/users/erica.jpg" class="size-5" />
            <twig:Listbox:Label>Erica</twig:Listbox:Label>
        </twig:Listbox:Option>
        <twig:Listbox:Option value="tom">
            <twig:Avatar slot="icon" initials="TC" class="size-5 bg-purple-500 text-white" />
            <twig:Listbox:Label>Tom</twig:Listbox:Label>
        </twig:Listbox:Option>
    </twig:Listbox>
</div>
