<div class="w-full max-w-sm h-fit">
    <twig:Fieldset:Field disabled>
        <twig:Fieldset:Label>Description</twig:Fieldset:Label>
        <twig:Textarea name="description" />
    </twig:Fieldset:Field>
</div>