<div class="max-w-xs">
    <twig:Combobox name="status" placeholder="Select a status&hellip;">
        <twig:Combobox:Option value="active" label="Active"><twig:Combobox:Label>Active</twig:Combobox:Label></twig:Combobox:Option>
        <twig:Combobox:Option value="paused" label="Paused"><twig:Combobox:Label>Paused</twig:Combobox:Label></twig:Combobox:Option>
        <twig:Combobox:Option value="delayed" label="Delayed"><twig:Combobox:Label>Delayed</twig:Combobox:Label></twig:Combobox:Option>
        <twig:Combobox:Option value="canceled" label="Canceled"><twig:Combobox:Label>Canceled</twig:Combobox:Label></twig:Combobox:Option>
    </twig:Combobox>
</div>
