<div class="max-w-xs">
    <twig:Fieldset:Field>
        <twig:Fieldset:Label>Currency</twig:Fieldset:Label>
        <twig:Combobox class="max-w-40" name="currency" value="CAD" placeholder="Select currency&hellip;">
            <twig:Combobox:Option value="CAD" label="CAD"><twig:Combobox:Label>CAD</twig:Combobox:Label></twig:Combobox:Option>
            <twig:Combobox:Option value="EUR" label="EUR"><twig:Combobox:Label>EUR</twig:Combobox:Label></twig:Combobox:Option>
            <twig:Combobox:Option value="USD" label="USD"><twig:Combobox:Label>USD</twig:Combobox:Label></twig:Combobox:Option>
            <twig:Combobox:Option value="GBP" label="GBP"><twig:Combobox:Label>GBP</twig:Combobox:Label></twig:Combobox:Option>
        </twig:Combobox>
    </twig:Fieldset:Field>
</div>
