<div class="max-w-xs">
    <twig:Combobox name="user" placeholder="Search users&hellip;">
        <twig:Combobox:Option value="leslie" label="Leslie Alexander"><twig:Combobox:Label>Leslie Alexander</twig:Combobox:Label></twig:Combobox:Option>
        <twig:Combobox:Option value="michael" label="Michael Foster"><twig:Combobox:Label>Michael Foster</twig:Combobox:Label></twig:Combobox:Option>
        <twig:Combobox:Option value="dries" label="Dries Vincent"><twig:Combobox:Label>Dries Vincent</twig:Combobox:Label></twig:Combobox:Option>
        <twig:Combobox:Option value="bonnie" label="Bonnie Green"><twig:Combobox:Label>Bonnie Green</twig:Combobox:Label></twig:Combobox:Option>
        <twig:Combobox:Option value="courtney" label="Courtney Henry"><twig:Combobox:Label>Courtney Henry</twig:Combobox:Label></twig:Combobox:Option>
    </twig:Combobox>
</div>
