<div class="max-w-xs">
    <twig:Fieldset:Field>
        <twig:Fieldset:Label>Assigned to</twig:Fieldset:Label>
        <twig:Fieldset:Description>This user will have full access to the project.</twig:Fieldset:Description>
        <twig:Combobox name="user" value="tom" placeholder="Search users&hellip;">
            <twig:Combobox:Option value="tom" label="Tom Cook"><twig:Combobox:Label>Tom Cook</twig:Combobox:Label></twig:Combobox:Option>
            <twig:Combobox:Option value="wade" label="Wade Cooper"><twig:Combobox:Label>Wade Cooper</twig:Combobox:Label></twig:Combobox:Option>
            <twig:Combobox:Option value="arlene" label="Arlene Mccoy"><twig:Combobox:Label>Arlene Mccoy</twig:Combobox:Label></twig:Combobox:Option>
        </twig:Combobox>
    </twig:Fieldset:Field>
</div>
