<div class="max-w-xs">
    <twig:Combobox name="user" placeholder="Search users&hellip;">
        <twig:Combobox:Option value="erica" label="Erica">
            <twig:Avatar slot="icon" src="https://catalyst-demo.tailwindui.com/users/erica.jpg" class="size-5" />
            <twig:Combobox:Label>Erica</twig:Combobox:Label>
        </twig:Combobox:Option>
        <twig:Combobox:Option value="tom" label="Tom">
            <twig:Avatar slot="icon" initials="TC" class="size-5 bg-purple-500 text-white" />
            <twig:Combobox:Label>Tom</twig:Combobox:Label>
        </twig:Combobox:Option>
    </twig:Combobox>
</div>
