<div class="max-w-xs">
    <twig:Fieldset:Field>
        <twig:Fieldset:Label>Country</twig:Fieldset:Label>
        <twig:Combobox name="country" value="CA" placeholder="Select country&hellip;">
            <twig:Combobox:Option value="CA" label="Canada">
                <img src="https://flagpack.xyz/_nuxt/ca.BHPAlM-1.svg" alt="" class="w-5 sm:w-4" />
                <twig:Combobox:Label>Canada</twig:Combobox:Label>
            </twig:Combobox:Option>
            <twig:Combobox:Option value="MX" label="Mexico">
                <img src="https://flagpack.xyz/_nuxt/mx.B1GxCiMl.svg" alt="" class="w-5 sm:w-4" />
                <twig:Combobox:Label>Mexico</twig:Combobox:Label>
            </twig:Combobox:Option>
            <twig:Combobox:Option value="US" label="United States">
                <img src="https://flagpack.xyz/_nuxt/us.CLMjMGBT.svg" alt="" class="w-5 sm:w-4" />
                <twig:Combobox:Label>United States</twig:Combobox:Label>
            </twig:Combobox:Option>
        </twig:Combobox>
    </twig:Fieldset:Field>
</div>
