{%- set users = [
    {name: 'Leslie Alexander', initials: 'la', avatarUrl: 'https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80'},
    {name: 'Michael Foster', initials: 'mf', avatarUrl: 'https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80'},
    {name: 'Dries Vincent', initials: 'dv', avatarUrl: 'https://images.unsplash.com/photo-1506794778202-cad84cf45f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80'},
    {name: 'Tom Cook', initials: 'tc', avatarUrl: 'https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80'},
    {name: 'Courtney Henry', initials: 'ch', avatarUrl: 'https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80'},
] -%}
<div class="w-full max-w-56">
    <twig:Fieldset:Field>
        <twig:Fieldset:Label>Assigned to</twig:Fieldset:Label>
        <twig:Combobox name="user" defaultValue="Tom Cook">
            {%- for user in users -%}
                <twig:Combobox:Option value="{{ user.name }}">
                    <twig:Avatar src="{{ user.avatarUrl }}" initials="{{ user.initials }}" class="bg-purple-500 text-white" alt="" />
                    <twig:Combobox:Label>{{ user.name }}</twig:Combobox:Label>
                </twig:Combobox:Option>
            {%- endfor -%}
        </twig:Combobox>
    </twig:Fieldset:Field>
</div>
