{# @prop bleed boolean Whether the table should bleed into the gutter. #}
{# @prop dense boolean Whether the table should use condensed spacing. #}
{# @prop grid boolean Whether display vertical grid lines. #}
{# @prop striped boolean Whether display striped table rows. #}
{# @block content The table head and body. #}
{%- props bleed = false, dense = false, grid = false, striped = false -%}
{%- do provide('table.bleed', bleed) -%}
{%- do provide('table.dense', dense) -%}
{%- do provide('table.grid', grid) -%}
{%- do provide('table.striped', striped) -%}
<div class="flow-root">
    <div
        class="{{ ('-mx-(--gutter) overflow-x-auto whitespace-nowrap ' ~ attributes.render('class'))|trim }}"
        {{ attributes }}
    >
        <div class="{{ 'inline-block min-w-full align-middle' ~ (not bleed ? ' sm:px-(--gutter)') }}">
            <table class="min-w-full text-left text-sm/6 text-zinc-950 dark:text-white">
                {%- block content %}{% endblock -%}
            </table>
        </div>
    </div>
</div>
