<form>
    <twig:Switch:Field>
        <twig:Fieldset:Label>Allow embedding</twig:Fieldset:Label>
        <twig:Fieldset:Description>Allow others to embed your event details on their own site.</twig:Fieldset:Description>
        <twig:Switch name="allow_embedding" defaultChecked />
    </twig:Switch:Field>
</form>