<form class="w-full max-w-sm">
    <twig:Fieldset>
        <twig:Fieldset:Legend>Discoverability</twig:Fieldset:Legend>
        <twig:Text>Decide where your events can be found across the web.</twig:Text>
        <twig:Switch:Group>
            <twig:Switch:Field>
                <twig:Fieldset:Label>Show on events page</twig:Fieldset:Label>
                <twig:Fieldset:Description>Make this event visible on your profile.</twig:Fieldset:Description>
                <twig:Switch name="show_on_events_page" defaultChecked />
            </twig:Switch:Field>
            <twig:Switch:Field>
                <twig:Fieldset:Label>Allow embedding</twig:Fieldset:Label>
                <twig:Fieldset:Description>Allow others to embed your event details on their own site.</twig:Fieldset:Description>
                <twig:Switch name="allow_embedding" />
            </twig:Switch:Field>
        </twig:Switch:Group>
    </twig:Fieldset>
</form>