{# @block content The label text #}
<span
    class="{{ ('ml-2.5 truncate first:ml-0 sm:ml-2 sm:first:ml-0 ' ~ attributes.render('class'))|trim }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</span>
