{# @prop value string The value submitted when this option is selected. #}
{# @block content The option content, typically a `Combobox:Label` and optionally a `Combobox:Description`. #}
{%- props value -%}

<el-option
    value="{{ value }}"
    class="{{ html_classes(
        # Basic layout
        'group/option grid w-full cursor-default grid-cols-[1fr_--spacing(5)] items-baseline gap-x-2 rounded-lg py-2.5 pr-2 pl-3.5 sm:grid-cols-[1fr_--spacing(4)] sm:py-1.5 sm:pr-2 sm:pl-3',
        # Typography
        'text-base/6 text-zinc-950 sm:text-sm/6 dark:text-white forced-colors:text-[CanvasText]',
        # Selected
        'outline-hidden aria-selected:bg-blue-500 aria-selected:text-white',
        # Forced colors mode
        'forced-color-adjust-none forced-colors:aria-selected:bg-[Highlight] forced-colors:aria-selected:text-[HighlightText]',
        # Disabled
        'data-disabled:opacity-50',
    ) }}"
    {{ attributes.without('class') }}
>
    <span class="{{ html_classes(
        attributes.render('class') ?? '',
        # Base
        'flex min-w-0 items-center',
        # Icons
        '*:data-[slot=icon]:size-5 *:data-[slot=icon]:shrink-0 sm:*:data-[slot=icon]:size-4',
        '*:data-[slot=icon]:text-zinc-500 group-aria-selected/option:*:data-[slot=icon]:text-white dark:*:data-[slot=icon]:text-zinc-400',
        'forced-colors:*:data-[slot=icon]:text-[CanvasText] forced-colors:group-aria-selected/option:*:data-[slot=icon]:text-[Canvas]',
        # Avatars
        '*:data-[slot=avatar]:-mx-0.5 *:data-[slot=avatar]:size-6 sm:*:data-[slot=avatar]:size-5',
    ) }}">
        {%- block content %}{% endblock -%}
    </span>
</el-option>
