{# @block content The description text. #}
{%- set _field_disabled = inject('field.disabled', false) -%}
<p
    data-slot="description"
    {% if _field_disabled %}data-disabled{% endif %}
    class="{{ ('text-base/6 text-zinc-500 data-disabled:opacity-50 sm:text-sm/6 dark:text-zinc-400 ' ~ attributes.render('class'))|trim }}"
    {{ attributes }}
>
    {%- block content %}{% endblock -%}
</p>
