<div class="w-full max-w-md">
    <twig:Text>
        This feature is only available to users on the <twig:Strong>Business Plan</twig:Strong>. To upgrade, visit your
        <twig:Text:Link href="#">billing settings</twig:Text:Link>.
    </twig:Text>
</div>
