<twig:Navbar>
    <a href="/" aria-label="Home">
        <svg viewBox="0 0 24 24" fill="currentColor" class="size-10 text-zinc-950 sm:size-8 dark:text-white" aria-hidden="true">
            <path d="M12 2 2 7l10 5 10-5-10-5Zm0 13L2 10v7l10 5 10-5v-7l-10 5Z" />
        </svg>
    </a>
    <twig:Navbar:Divider class="max-lg:hidden" />
    <twig:Navbar:Section class="max-lg:hidden">
        <twig:Navbar:Item href="/">Home</twig:Navbar:Item>
        <twig:Navbar:Item href="/events">Events</twig:Navbar:Item>
        <twig:Navbar:Item href="/orders">Orders</twig:Navbar:Item>
    </twig:Navbar:Section>
</twig:Navbar>
