<div class="h-96 w-full">
    <div class="-mx-5">
        <div class="h-full w-64 border-r border-zinc-950/5 bg-zinc-100 dark:bg-zinc-950">
            <twig:Sidebar>
                <twig:Sidebar:Body>
                    <twig:Sidebar:Section>
                        <twig:Sidebar:Item href="/">Home</twig:Sidebar:Item>
                        <twig:Sidebar:Item href="/events">Events</twig:Sidebar:Item>
                        <twig:Sidebar:Item href="/orders">Orders</twig:Sidebar:Item>
                        <twig:Sidebar:Item href="/broadcasts">Broadcasts</twig:Sidebar:Item>
                        <twig:Sidebar:Item href="/settings">Settings</twig:Sidebar:Item>
                    </twig:Sidebar:Section>
                </twig:Sidebar:Body>
            </twig:Sidebar>
        </div>
    </div>
</div>