<div class="h-120 w-full">
    <div class="-mx-5">
        <div class="h-full w-64 border-r border-zinc-950/5 bg-zinc-100 dark:bg-zinc-950">
            <twig:Sidebar>
                <twig:Sidebar:Body>
                    <twig:Sidebar:Section>
                        <twig:Sidebar:Item href="/">
                            <twig:ux:icon name="heroicons:home-20-solid" />
                            <twig:Sidebar:Label>Home</twig:Sidebar:Label>
                        </twig:Sidebar:Item>
                        <twig:Sidebar:Item href="/events">
                            <twig:ux:icon name="heroicons:square-2-stack-20-solid" />
                            <twig:Sidebar:Label>Events</twig:Sidebar:Label>
                        </twig:Sidebar:Item>
                        <twig:Sidebar:Item href="/orders">
                            <twig:ux:icon name="heroicons:ticket-20-solid" />
                            <twig:Sidebar:Label>Orders</twig:Sidebar:Label>
                        </twig:Sidebar:Item>
                        <twig:Sidebar:Item href="/broadcasts">
                            <twig:ux:icon name="heroicons:megaphone-20-solid" />
                            <twig:Sidebar:Label>Broadcasts</twig:Sidebar:Label>
                        </twig:Sidebar:Item>
                        <twig:Sidebar:Item href="/settings">
                            <twig:ux:icon name="heroicons:cog-6-tooth-20-solid" />
                            <twig:Sidebar:Label>Settings</twig:Sidebar:Label>
                        </twig:Sidebar:Item>
                    </twig:Sidebar:Section>
                    <twig:Sidebar:Section>
                        <twig:Sidebar:Heading>Resources</twig:Sidebar:Heading>
                        <twig:Sidebar:Item href="/resources">
                            <twig:ux:icon name="heroicons:question-mark-circle-20-solid" />
                            <twig:Sidebar:Label>Support</twig:Sidebar:Label>
                        </twig:Sidebar:Item>
                        <twig:Sidebar:Item href="/changelog">
                            <twig:ux:icon name="heroicons:sparkles-20-solid" />
                            <twig:Sidebar:Label>Changelog</twig:Sidebar:Label>
                        </twig:Sidebar:Item>
                    </twig:Sidebar:Section>
                </twig:Sidebar:Body>
            </twig:Sidebar>
        </div>
    </div>
</div>
