<form>
    <twig:Radio:Group name="resale" defaultValue="permit" aria-label="Resale and transfers">
        <twig:Radio:Field>
            <twig:Radio value="permit" />
            <twig:Fieldset:Label>Allow tickets to be resold</twig:Fieldset:Label>
        </twig:Radio:Field>
        <twig:Radio:Field>
            <twig:Radio value="forbid" />
            <twig:Fieldset:Label>Don't allow tickets to be resold</twig:Fieldset:Label>
        </twig:Radio:Field>
    </twig:Radio:Group>
</form>