{# @block content The gap indicator. #}
<span
    aria-hidden="true"
    class="{{ ('w-9 text-center text-sm/6 font-semibold text-zinc-950 select-none dark:text-white ' ~ attributes.render('class'))|trim }}"
    {{ attributes }}
>
    {%- block content %}&hellip;{% endblock -%}
</span>
